In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
df = pd.read_csv('..\\data\\processed\\Lei-Maria-da-Penha_2012-a-2023.csv')
df

,AIS,Município,Data,Hora,Dia da Semana,Gênero,Idade da Vítima,Escolaridade da Vítima,Raça da Vítima
0,AIS 19,Juazeiro do Norte,2012-01-01,23:01:05.981000,Domingo,Feminino,38,Ensino Médio Completo,Parda
1,AIS 05,Fortaleza,2012-01-01,21:01:56.986000,Domingo,Feminino,36,Ensino Fundamental Completo,Não Informada
2,AIS 20,Senador Pompeu,2012-01-01,21:01:21.994000,Domingo,Feminino,34,Alfabetizado,Não Informada
3,AIS 12,Maracanaú,2012-01-01,21:00:59.962000,Domingo,Feminino,21,Alfabetizado,Parda
4,AIS 17,Itarema,2012-01-01,21:00:59.962000,Domingo,Feminino,28,Alfabetizado,Parda
...,...,...,...,...,...,...,...,...,...
207775,AIS 19,Brejo Santo,2023-12-31,01:00:00.029000,Domingo,Feminino,26,Alfabetizado,Não Informada
207776,AIS 18,Russas,2023-12-31,01:00:00.029000,Domingo,Feminino,25,Ensino Fundamental Incompleto,Não Informada
207777,AIS 21,Iguatu,2023-12-31,00:40:59.981000,Domingo,Feminino,36,Superior Completo,Branca
207778,AIS 18,Russas,2023-12-31,00:15:00.029000,Domingo,Feminino,31,Ensino Fundamental Completo,Não Informada
207779,AIS 21,Icó,2023-12-31,23:59:00.038000,Domingo,Feminino,58,Não Alfabetizado,Não Informada