In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('../data/processed/Lei-Maria-da-Penha_2012-a-2023.csv')

In [9]:
df.describe()

,AIS,Município,Data,Hora,Dia da Semana,Gênero,Idade da Vítima,Escolaridade da Vítima,Raça da Vítima
count,207780,207780,207780,207780,207780,207780,207780,207780,207780
unique,26,184,4383,8787,7,1,105,9,6
top,AIS 19,Fortaleza,2018-08-12,19:00:00.029000,Domingo,Feminino,32,Alfabetizado,Não Informada
freq,30421,81189,132,6725,41714,207780,6637,46700,149010